<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal" DockHeight="0.649438202247191*">
      <LayoutAnchorablePane DockWidth="314.6">
        <LayoutAnchorable AutoHideMinWidth="300" AutoHideMinHeight="100" Title="系统信息" IsSelected="True" ContentId="SystemInfoLayoutId" FloatingWidth="300" FloatingHeight="800" LastActivationTimeStamp="07/22/2021 13:25:34" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical" DockWidth="0.730626057529611*">
        <LayoutDocumentPaneGroup Orientation="Horizontal">
          <LayoutDocumentPane>
            <LayoutDocument Title="总控" IsSelected="True" IsLastFocusedDocument="True" ContentId="MotionInfoLayoutId" CanClose="False" LastActivationTimeStamp="07/29/2021 10:52:20" />
          </LayoutDocumentPane>
        </LayoutDocumentPaneGroup>
      </LayoutPanel>
      <LayoutAnchorablePane DockWidth="278.8" DockMinWidth="250">
        <LayoutAnchorable AutoHideMinWidth="250" AutoHideMinHeight="100" Title="设备信息" IsSelected="True" ContentId="MechineInfoLayoutId" FloatingWidth="250" FloatingHeight="800" LastActivationTimeStamp="07/22/2021 13:25:37" />
      </LayoutAnchorablePane>
    </LayoutPanel>
    <LayoutAnchorablePane DockHeight="305.8">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="300" Title="日志" IsSelected="True" ContentId="LogInfoLayoutId" FloatingWidth="800" FloatingHeight="400" LastActivationTimeStamp="07/29/2021 09:01:21" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>