<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal" DockHeight="0.647919293820933*">
      <LayoutAnchorablePane DockWidth="327.4">
        <LayoutAnchorable AutoHideMinWidth="300" AutoHideMinHeight="100" Title="SystemInfo" IsSelected="True" ContentId="SystemInfoLayoutId" FloatingWidth="300" FloatingHeight="800" LastActivationTimeStamp="08/03/2021 08:30:00" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical" DockWidth="0.736134798361445*">
        <LayoutDocumentPaneGroup Orientation="Horizontal">
          <LayoutDocumentPane>
            <LayoutDocument Title="MainControl" IsSelected="True" IsLastFocusedDocument="True" ContentId="MotionInfoLayoutId" CanClose="False" LastActivationTimeStamp="08/06/2021 17:50:26" />
          </LayoutDocumentPane>
        </LayoutDocumentPaneGroup>
      </LayoutPanel>
      <LayoutAnchorablePane DockWidth="298" DockMinWidth="250">
        <LayoutAnchorable AutoHideWidth="250" AutoHideMinWidth="250" AutoHideMinHeight="100" Title="MachineInfo" IsSelected="True" ContentId="MechineInfoLayoutId" FloatingWidth="250" FloatingHeight="800" LastActivationTimeStamp="08/06/2021 11:07:51" />
      </LayoutAnchorablePane>
    </LayoutPanel>
    <LayoutAnchorablePane DockHeight="304.2">
      <LayoutAnchorable AutoHideHeight="300" AutoHideMinWidth="100" AutoHideMinHeight="300" Title="Log" IsSelected="True" ContentId="LogInfoLayoutId" FloatingWidth="800" FloatingHeight="400" LastActivationTimeStamp="07/30/2021 09:02:43" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>