<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal" DockHeight="0.647919293820933*">
      <LayoutAnchorablePane DockWidth="294.6">
        <LayoutAnchorable AutoHideMinWidth="300" AutoHideMinHeight="100" Title="系统信息" IsSelected="True" ContentId="SystemInfoLayoutId" FloatingWidth="300" FloatingHeight="800" LastActivationTimeStamp="07/29/2021 16:55:17" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical" DockWidth="0.808353948079275*">
        <LayoutDocumentPaneGroup Orientation="Horizontal">
          <LayoutDocumentPane>
            <LayoutDocument Title="总控" IsSelected="True" IsLastFocusedDocument="True" ContentId="MotionInfoLayoutId" CanClose="False" LastActivationTimeStamp="08/02/2021 19:00:12" />
          </LayoutDocumentPane>
        </LayoutDocumentPaneGroup>
      </LayoutPanel>
      <LayoutAnchorablePane DockWidth="250" DockMinWidth="250">
        <LayoutAnchorable AutoHideWidth="250" AutoHideMinWidth="250" AutoHideMinHeight="100" Title="设备信息" IsSelected="True" ContentId="MechineInfoLayoutId" FloatingWidth="250" FloatingHeight="800" LastActivationTimeStamp="07/29/2021 16:55:29" />
      </LayoutAnchorablePane>
    </LayoutPanel>
    <LayoutAnchorablePane DockHeight="304.2">
      <LayoutAnchorable AutoHideHeight="300" AutoHideMinWidth="100" AutoHideMinHeight="300" Title="日志" IsSelected="True" ContentId="LogInfoLayoutId" FloatingWidth="800" FloatingHeight="400" LastActivationTimeStamp="07/30/2021 09:02:43" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>