<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BuilderAssembly" value="BuilderPattern"/>
    <!--根据配置文件来更改需要加载的类-->
    <!--<add key="BuilderClass" value="RomanHouseBuilder"/>-->
    <add key="BuilderClass" value="ModernHouseBuilder"/>
  </appSettings>
</configuration>