<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Dll" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ConfigDir" value="Default"/>
    <!--<add key="DllKey" value="ConfigTools,ConfigTools.XmlBuildConfig"/>-->
    <!--配置文件如果是采用json格式的请将下面的注释打开，上面一行注释掉-->
    <add key="DllKey" value="ConfigTools,ConfigTools.JsonBuildConfig" />
  </appSettings>
</configuration>