<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal" DockHeight="0.676404494382022*">
      <LayoutAnchorablePane DockWidth="302.6">
        <LayoutAnchorable AutoHideMinWidth="300" AutoHideMinHeight="100" Title="系统信息" IsSelected="True" ContentId="SystemInfoLayoutId" FloatingWidth="300" FloatingHeight="800" LastActivationTimeStamp="07/20/2021 19:18:03" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical" DockWidth="0.803505195503837*">
        <LayoutDocumentPaneGroup Orientation="Horizontal">
          <LayoutDocumentPane>
            <LayoutDocument Title="总控" IsSelected="True" IsLastFocusedDocument="True" ContentId="MotionInfoLayoutId" CanClose="False" LastActivationTimeStamp="07/20/2021 19:18:28" />
          </LayoutDocumentPane>
        </LayoutDocumentPaneGroup>
      </LayoutPanel>
      <LayoutAnchorablePane DockWidth="250" DockMinWidth="250">
        <LayoutAnchorable AutoHideMinWidth="250" AutoHideMinHeight="100" Title="设备信息" IsSelected="True" ContentId="MechineInfoLayoutId" FloatingWidth="250" FloatingHeight="800" LastActivationTimeStamp="07/20/2021 19:18:10" />
      </LayoutAnchorablePane>
    </LayoutPanel>
    <LayoutAnchorablePane DockHeight="284.2">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="300" Title="日志" IsSelected="True" ContentId="LogInfoLayoutId" FloatingWidth="800" FloatingHeight="400" LastActivationTimeStamp="07/20/2021 19:18:12" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>