<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DllKey" value="AutoBuildConfig.Model,AutoBuildConfig.Model.XMLBuildConfig"/>
    <!--配置文件如果是采用json格式的请将下面的注释打开，上面一行注释掉-->
    <!--<add key="DllKey" value="AutoBuildConfig.Model,AutoBuildConfig.Model.JsonBuildConfig"/>-->
  </appSettings>
</configuration>